<div [ngClass]="dropListClass" >
  <div class="container-drop">
    <div class="Title" (click)="openDropList($event)" [style.border-bottom]="lineaColor" [style.color]="color" [style.height]="(fontSize + 8) + 'px'">
      <input [style.font-size]="(fontSize) + 'px'" [style.font-weight]="fontWeight" [style.font-family]="fontFamily" [(ngModel)]="title" disabled />
      <img [ngClass]="showDropList ? 'arrowTurn' : 'arrow'" src="./assets/img/arrow.png" alt="">     
    </div>

      <!-- normal -->
    <div [hidden]="!showDropList" class="content" [style.width]="widthContent" [style.top]="(fontSize + 16) + 'px'">
      <div [ngClass]="'triangulo'">
      </div>
      <div [ngClass]="'triangulo2'" >
      </div>
      <div>
          <ul class="lista"  *ngIf="(arrayAux != undefined)">
            <li *ngFor="let item of arrayAux" [style.align-items]="'left'" (click)="selectItem(item, item[attr] , $event)" [style.font-size]="fontSize">{{item[attr]}} <span class="tooltiptext" *ngIf="tooltip">{{item}}</span></li>
          </ul>
      </div>
    </div>




  </div>
  <!-- <label [ngClass]="effectS">Label</label> -->
</div>

